## This CI script builds CAER with all default modules on UBUNTU 16.04.
# all dependencies are the versions of the Ubuntu 16.04 LTS repo except opencv

language: cpp

sudo: required
dist: trusty # newest ubuntu version in TRAVIS-CI

#install all required packages from ubuntu 16.04!
before_install:
  - sudo add-apt-repository 'deb http://ch.archive.ubuntu.com/ubuntu xenial main universe' -y
  - sudo apt-get update -q
  #install requirements for libcaer and caer
  - sudo apt-get install unzip libboost-dev libboost-filesystem-dev libboost-program-options-dev libboost-system-dev
    libmxml-dev libusb-1.0-0-dev liballegro5-dev libtcmalloc-minimal4 -y
  # install libuv version 1.X which is not available in ubuntu 14.04
  - sudo apt-get install g++/xenial -y
  - sudo apt-get install libuv1/xenial -y
  - sudo apt-get install libuv1-dev/xenial -y

before_script:
  # install opencv 3.1 +contrib
  - wget --output-document=opencv.zip https://github.com/opencv/opencv/archive/3.1.0.zip
  - unzip opencv.zip
  - cd opencv-3.1.0
  - wget --output-document=opencv_contrib.zip https://github.com/opencv/opencv_contrib/archive/3.1.0.zip
  - unzip opencv_contrib.zip
  - mkdir build && cd build
  - cmake -DCMAKE_INSTALL_PREFIX=/usr -DWITH_IPP=ON -DINSTALL_CREATE_DISTRIB=ON
    -DOPENCV_EXTRA_MODULES_PATH=../opencv_contrib-3.1.0/modules/ -DBUILD_opencv_contrib_world=OFF
    -DBUILD_opencv_xfeatures2d=OFF -DBUILD_opencv_matlab=OFF -DBUILD_opencv_text=OFF -DBUILD_opencv_xobjdetect=OFF -DBUILD_opencv_aruco=ON ../
  - make
  - sudo make install
  - cd ../..
  # install latest libcaer release
  - wget --output-document=libcaer.zip https://api.github.com/repos/inilabs/libcaer/zipball
  - unzip libcaer.zip
  - rm libcaer.zip
  - mv inilabs-l* libcaer
  - cd libcaer
  - cmake -DCMAKE_INSTALL_PREFIX=/usr -DENABLE_OPENCV=1 .
  - make clean
  - make
  - sudo make install
  - cd ..


script:
  # build with all default modules
  - cmake -DDVS128=1 -DEDVS=1 -DDAVIS=1 -DDYNAPSE=1 -DBAFILTER=1 -DFRAMEENHANCER=1 -DCAMERACALIBRATION=1
    -DPOSEESTIMATION=1 -DSTATISTICS=1 -DVISUALIZER=1 -DINPUT_FILE=1 -DOUTPUT_FILE=1 -DINPUT_NETWORK=1
    -DOUTPUT_NETWORK=1 -DROTATE=1 -DMEDIANTRACKER=1 -DRECTANGULARTRACKER=1 -DDYNAMICRECTANGULARTRACKER=1
    -DSPIKEFEATURES=1 -DMEANRATEFILTER=1 -DSYNAPSERECONFIG=1 -DFPGASPIKEGEN=1 -DPOISSONSPIKEGEN=1 .
  - make clean
  - make
  - ctest
